* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: "Roboto Regular", sans-serif;
}

@font-face {
    font-family: "Roboto Light";
    font-display: swap;
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Regular";
    font-display: swap;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

input,
select,
textarea {
    // max-width: 350px;
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    padding: 0 10px;
    background-repeat: no-repeat;
    // -webkit-box-shadow: 5px 5px 27px -1px rgba(116, 116, 116, 0.1);
    // -moz-box-shadow: 5px 5px 27px -1px rgba(116, 116, 116, 0.1);
    // box-shadow: 5px 5px 27px -1px rgba(116, 116, 116, 0.1);
    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
input[type="number"] {
    width: 80px;
}
input[type="search"] {
    padding-left: 45px;
    padding-right: 20px;
}
textarea {
    resize: none;
    padding: 10px;
    height: 130px;
    width: 100%;
}
label {
    color: #8e8e8e;
    font-family: "Roboto Light", sans-serif;
    font-size: 13px;
    padding-bottom: 5px;
    padding-right: 10px;
    span {
        color: #e470a4;
    }
}

.btn-create,
.btn-cancel {
    color: white;
    border: none;
    background-color: #3f51b5;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    cursor: pointer;
    background-repeat: no-repeat;
    padding: 0 5px;
    height: 45px;
    min-width: 147px;
    transition: 0.2s;
    flex-shrink: 0;
    &.disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.btn-create:hover {
    background-color: #3a4aa3;
}

.btn-cancel {
    border: 1px solid #898fa6;
    background-color: transparent;
    color: #898fa6;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 15px;
    &:last-of-type {
        margin-right: 0;
    }
}
.checkbox-col-aligned {
    margin: auto 0;
    padding-top: 15px;
}
.row {
    display: flex;
    margin-bottom: 15px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.validate {
    border: 1px solid #e470a4 !important;
}

ul.errors {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    li {
        font-size: 13px;
        color: #e470a4;
        margin-bottom: 5px;
        text-align: center;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.options {
    flex-wrap: wrap;
    margin-top: 40px;
    .col {
        width: calc(100% / 3 - 15px);
        margin-bottom: 10px;
    }
}

hr {
    height: 1px;
    border: none;
    background-color: #afafaf;
    margin: 40px 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px 0;
    form {
        max-width: 700px;
        margin: auto;
        h1 {
            text-align: center;
            font-size: 25px;
            color: #2c2c2c;
            margin-bottom: 40px;
            font-family: "Roboto Light", sans-serif;
            font-weight: 100;
            text-transform: uppercase;
        }
        #passport_number {
            max-width: 300px;
        }
        hr {
            margin-top: 30px;
        }
        button.btn-create {
            margin: 0 auto;
        }
    }
    &#result {
        max-width: 700px;
        margin: auto;
        .error {
            h2 {
                color: #cd1f37;
            }
        }
        .success {
            h2 {
                color: #389b6e;
            }
        }
        h2 {
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
        }
        a.btn-cancel {
            margin: 0 auto;
            width: fit-content;
        }
    }
}
